<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tickets</title>
</head>
<body>
<h2 align="center">Books</h2>
<table align="center" border="1">
    <tr bgcolor="#ff7f50">
        <td>Id</td>
        <td>Title</td>
    </tr>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.ticketType}"></td>
<!--        <td>-->
<!--            <form action="#" th:action="@{/booksU/{id} (id=${ticket.id})}" th:method="post">-->
<!--                <input type="submit" value="Order">-->
<!--            </form>-->
<!--        </td>-->
    </tr>

</table>


<br>
<!--<table th:align="center">-->
<!--    <tr>-->
<!--        <td>-->
<!--            <button><a href=""></a></button>-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>-->
<!--            <form action="#" th:action="@{/logout}" th:method="post">-->
<!--                <button th:type="submit">Logout</button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--</table>-->

</body>
</html>